.footer{
    background:#2e5ec0;
    margin-bottom: 0;
    padding-bottom: 5px;
}

.footerHeading{
    background: #50b490;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footerHeading h5{
    text-align: center;  
    display: inline;
    color: white;
    font-weight: bold;
}

.footerHeading h5:nth-child(1){
    margin: 0 90px;
}

.footerHeading h5:nth-child(2){
    margin: 85px;
}
.footerHeading h5:nth-child(3){
    margin: 135px;
}
.footerHeading h5:nth-child(4){
    margin: 0 90px;
}

.container{
    padding-left: 50px;
    padding-right: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
}
.row ul li{
    list-style: none;
}

.col-lg-3 ul li a{
    color: white;
    text-align: center;
}

.col-lg-3 ul li a:hover{
    color: #50b490;
}
.footer-copyright{
    color: white;
}