// Header Styles
header {
    .logoWithDescription{
        display: flex;
        background: #2e5ec0;
        height: 99px;
        z-index: 2;

        @media (max-width: 450px){
            height: 99px;
         }

        .image img{
            width: 100px;
            height: 100px;

            @media (max-width: 450px){
                width: 100px;
                height: 100px;
             }
        }

        .programName {
            margin-top: 5px;

            @media (max-width: 450px){
                margin-top: 2px;
             }
        }

        .programName  p{
            margin-top: 10px;
            margin-bottom: 3px;
            line-height: 4px;
            color: white;
            text-align: left;
            padding-left: 10px;

            @media (max-width: 550px){
                font-size: 12px;
                line-height: 14px;
                margin-bottom: 0px;
                margin-top: 7px;
             }
        }

        .programName .courseName{
            padding-top: 15px;
            font-size: 25px;

            @media (max-width: 550px){

                padding-top: 5px;
                font-size: 18px;
             }
        }

        .programName .webProgrammer{
            padding-top:25px;

            @media (max-width: 550px){

                padding-top:7px;
             }
        }
    
    }
}



