// Main Nav Styles
@import "_variables.scss";

header{
    width: 100%;
    nav {
           $border: 1px solid white;
           width: 100%;
           background: #FD9A28;
           height: 35px;
        
        .topnav{
        @include flatten;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

            .icon{
                visibility: hidden;
                display: none;
            }
        }

        a {
            display: block;
            color:#2e5ec0;
            text-align: center;
            font-size: 1.2em;
            text-decoration: none;
            outline: none;
            padding: 4px 20px;
            font-weight: bold;
            z-index: 4;
    
            @at-root nav li:last-child a {
                border-right: none;
            }
        }

        a:hover:not(.icon){
          border-top: 4px solid #50b490;

          @media(max-width: $phone-wide){
            border-top: none;
            border-bottom: 4px solid #50b490;         
          }
        }
        
        .fa-times{
          font-size: 25px;
          visibility: hidden;
        }

    @media screen and (max-width: 1024px) {
        .topnav a {display: none;}
        .topnav a.icon {
          float: right;
          display: block;
          visibility: visible;
          text-decoration: none;
        }

        .topnav{
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .icon{
                justify-content: flex-end;
                align-items: flex-end;                  
            }
        }

        .responsive {position: relative;}

        .responsive a:not(:last-child) {              
          visibility: visible;
          display: block;
          justify-content: flex-start;
          background: #FD9A28;
          width: 100%;
          margin: 0;
        }

        .responsive {
          .icon {
            position: absolute;
            right: 0;
            top: 0;
          }
          .fa-times{
            visibility: visible;
            display: block;
            padding-top: 0;
          }
          .fa-bars{
            display: none;
          }
        }
      }
    }
}

