@import "_variables.scss";

.wrapper{
    background: white;

    .wrapperBody{
   
        .row{
            margin-bottom: 15px;
            border: 5px solid white;
        }

        .col-lg-4{
            margin: 10px 0px;
        }

        .card-body{
            height: 360px;
            padding: 5px;

            @media (max-width: 1160px){
                overflow-y: scroll;
            }
            
            @media (max-width: 970px){
                overflow: hidden;
            } 

            @media (max-width: $phone-wide){
                overflow-y: scroll;
            }         
        }
    
        .card-title{
            color: #50b490;
        }

    }
}
