nav{
    position: absolute;
    top: 58%;
    left: 0%;
    z-index: 2;
    width: 100%;
    margin-bottom: 5%;
}

.nav .navbar-nav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.navbar-custom {
    background:#f7470e;
}

nav a{
    color: white;
    font-weight: bold;
}

.navbar-toggler-icon{
    color:white;
}

.logoWithDescription{
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
    width: 100%;
}

.logoWithDescription img{
    padding-right: 10px;
}

.logoWithDescription > .programName{
    margin-top: 15px;
    color: white;
}
