@import "_variables.scss";

.wrapper{
    background: white;

    .scheduleWrapper{
         margin-left: 15px;
         margin-right: 15px;

         @media (max-width: $phone-wide){
            display: block;
         }
        
        #scheduleButton{
            background: #50b490;
            color: white;
            font-weight: bold;
            margin-bottom: 5px;

            @media (max-width: $phone-wide){
                margin-bottom: 20px;
             }
        }

        //Dropdown
        .monthNameDropdown {
        position: relative;
        display: inline-block;
        margin-top: -40px;
        margin-bottom: 15px;

        @media (max-width: $phone-wide){
            margin-top: -58px;
            }
        }

        .monthNameDropdown .btn-success{
            background-color: #50b490;
            font-weight: bold;
        }
        
        .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f1f1f1;
        width: 230px;
        margin-top: 40px;
        border:5px solid #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        }
          
        .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        right: 100%;
        }
          
        .dropdown-content a:hover {background-color: #ddd;}
        
        .monthNameDropdown:hover {
            .dropdown-toggle{
            float: right;
            }
            .dropdown-content {
            display: flex;
            justify-content: space-between;
            }
        }

        //List View
        .monthName{
            width: 100%;
            height:40px;
            padding: 10px 0;
            background: #50b490;
            text-align: center;
            color: white;
        }
        
        .table .dayDateCourseInstructor{
            background-color: #ddd;
            color: #2e5ec0;
            font-weight: bold;
        }
        .table tr:not(.monthName):not(.dayDateCourseInstructor):hover{
            background-color: lavender;
        }
        tbody tr:not(.monthName):not(.dayDateCourseInstructor){
            @media(max-width: $phone-wide){
                display: flex;
                flex-wrap: wrap;            
            }
        }

        tbody td:nth-child(1){
            @media(max-width: $phone-wide){
                font-weight: bold;
            }
        }

        tbody td{
            @media(max-width: $phone-wide){
                display: block;
                width: 100%;
                border-top: none;
                padding: .35rem;
            }
        }
        tbody .dayDateCourseInstructor{
            @media(max-width: $phone-wide){
                display: none;   
            }
        }

    }

    //Grid View
    .calendarView{
        margin: 0;
    }

    #calendarView h4{
        color: #2e5ec0;
        font-weight: bold;
        text-align: center;  

        @media(max-width: $phone-wide){
            font-size: 18px; 

        }
    }

    .weekendsGridContainer{

        .weekendsGridContent{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: .1vw;
        }
    
        .weekdays{
            padding-top: 10px;
            padding-bottom: 10px;
            position: relative;
            text-align: center;
            color: white;
            background-color: #50b490;
            font-weight: bold;
        }

        @media (max-width: 900px){
            .weekendsGridContent {
                display: block;
            }
        }


    }

    .coursesGridContainer{

        .coursesGridContent{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: .2vw;
            @media (max-width: 1200px){
                display: block;
                .emptyDay{
                    display: none;
                }
            }

        }
    
        .coursesGridContent div{
            border: 1px solid #ddd;
            padding: 20px;
            height:156px;
            @media (max-width: 1200px){
                height: auto;
            }

        }
    }

    @media (max-width: 1200px){
       .weekendsGridContainer{
           display: none;
       }

       .wrapper {
           .coursesGridContainer {
               .coursesGridContent{
                    display: flex;
               }
           }
       }
  
        .coursesGridContent{
           display: flex;
           flex-wrap: wrap;
       }

        .coursesGridContent div{
           flex: 1;
       }

       
    }
    
}



