<<<<<<< HEAD

.faculty{
    margin-top: 6%;
}
h1{
    // should align the fonts being used globally
}
h3{
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif Black;
}
=======
>>>>>>> master
.wrapper{

<<<<<<< HEAD
.card-title{
    // color: #50b490;
}
=======
    .staffWrapper{
        margin-top: 13%;  
        margin-left: 10px;
        margin-right: 10px;
>>>>>>> master

        .pageHeading{
            color: #50b490;
            text-align: center;
            padding-bottom: 10px;
            font-weight: bold;
        }

<<<<<<< HEAD
h1{
    color: black;
    // color: white;
    // background-color: #50b490;

}
=======
        .facultyAndAdministration{
            color: white;
            text-align: center;
            font-weight: bold;
            background: #50b490;
            vertical-align: middle;
            padding-top: 7.5px;
            padding-bottom: 7.5px;
        }
>>>>>>> master

        .col-lg-4{
            margin: 10px 0px;
        }

        .card-title{
            color: #50b490;
        }

        .card .card-footer a{
            color: #007bff;
        }
    }

    #footerContent{
        margin-top:-15px;
    }
}


























