.wrapper{

    .wrapperBody{

        .row{
            margin-bottom: 15px;
        }

        .facultyAndAdministration{           
            color: white;
            text-align: left;
            font-weight: bold;
            background: #50b490;
            padding-left: 10px;
            padding-top: 7.5px;
            padding-bottom: 7.5px;
        }

        .col-lg-4{
            margin: 10px 0px;
        }

        .card-title{
            color: #50b490;
            font-weight: bold;
        }  

        .card .card-footer a{
            color: #007bff;
        }
    }
}


























