
.faculty{
    margin-top: 6%;
}

.staffWrapper{
    background-color: rgb(255, 254, 254);
  
}
.row{
    padding-left: 10%;
    padding-right: 10%;
}

h1{
    background-color:#50b490;
    color: white;
}

.card .card-header, .card .card-footer{
    background-color: #50b490;
}

.card .card-footer a{
    color: white;
}

#footerContent{
    margin-top:-15px;
}
