@import "_variables.scss";

.wrapper{

    .wrapperBody{ 
        
        .table .thead{
            background: #50b490;
            @media (max-width: $phone-wide){
                display: none;
            }
        }

        .table .thead tr th{
            color:  white;
            font-weight: bold;
        }

        .tableBody tr td{
            padding-top: 7.5px;
            padding-bottom: 7.5px;
            vertical-align: middle;
            
        }
        .tableBody tr {
            @media (max-width: $phone-wide){
                display: flex;
                flex-wrap: wrap;
            }
        }
        .tableBody td {
            @media (max-width: $phone-wide){
                width:100%;
            }
        }

        .table tr:not(.tableHeadingRow):hover{
            background-color: lavender;
        }
    }

}
