
.table{
    margin-top: 6%;
}
.studentWrapper{
    background-color: rgb(255, 254, 254);
    //margin: 0 5%;
}

.table .thead-dark tr th{
    background-color:  #50b490;
}

#footerContent{
    margin-top:-15px;
}