.wrapper{

    .studentWrapper{
        margin-top: 13%;  
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 20px;

        .pageHeading{
            color: #50b490;
            text-align: center;
            padding-bottom: 10px;
            font-weight: bold;
        }

        .table .thead{
            background: #50b490;
            @media (max-width: 480px){
                display: none;
            }
        }

        .table .thead tr th{
            color:  white;
            font-weight: bold;
        }

        .tableBody tr td{
            padding-top: 7.5px;
            padding-bottom: 7.5px;
            vertical-align: middle;
            
        }
        .tableBody tr {
            @media (max-width: 480px){
                display: flex;
                flex-wrap: wrap;
            }
        }
        .tableBody td {
            @media (max-width: 480px){
                width:100%;
            }
        }

        .table tr:not(.tableHeadingRow):hover{
            background-color: #e9eb2e;
        }
    }

}
