body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}
  
.bg-image {
/* The image used */
    background-image: url("../images/coding.jpg");

    /* Add the blur effect */
    filter: blur(2px);

    /* Full height */
    height: 95%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

#navbarContent{
    background-color: rgb(0,0,0); 
    background-color: rgba(1, 67, 190, 0.4);
    /* position: absolute;
    top: 18%;
    left: 0%;
    z-index: 2;
    width: 100%; */
}



