.welcomePage-image > img{
    filter: blur(2px);
    height: 700px; 
    width: 100%;
    z-index: 0;
}

/* Position text in the middle of the page/image */
.welcomePage-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 60%;
    padding: 20px;
    text-align: center;
}

#navbarContent{
    position: absolute;
    text-align: left;
    top: 0%;
    z-index: 4;
    width: 100%;
}



